.breadcrumbs-container .geist-ui-breadcrumbs {
  display: flex;
  max-width: 700px;
  row-gap: 0.5rem;
  column-gap: 1.5rem;
  margin: 0 auto;
  font-size: 1rem;
}

@media (max-width: 700px) {
    .breadcrumbs-container{
        display:none !important;
    }
}